<div>
  <label> Record count:</label> {{recordCount}}
</div>
<div>
  <label> Record page:</label> {{Page}}
</div>
<h2>Customers</h2>
<div *ngFor="let customer of customers | async" style="width: 300px;">
  <customer-details [customer]='customer'></customer-details>
</div>
<div>
  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="Size"
    (page)="pageEvent = pageNavigations($event)"
    [length]="recordCount">
  </mat-paginator>

  <!--<button type="button" class="btn btn-danger" (click)='deleteCustomers()'>Delete All</button>-->
</div>
